body {
  color: #30f294;
  font-family: "Share Tech Mono", monospace;
  background-color: black;
  background-image: url("photos/tlo3.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  background-attachment: fixed;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  height: 670px;
  width: 1140px;
  margin: auto;
  margin-top: 70px;
}

.back {
  float: left;
  padding: 5px;
  margin: 0px;
  border: 1px solid;
  text-align: center;
}

.box_menu {
  float: left;
  width: 40%;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border: 1px solid;
}
#menu {
  font-size: 35px;
  text-align: center;
  margin: 10px 0px 10px 0px;
}
#menu_list {
  font-size: 20px;
  margin-top: 5px;
}

.box_header {
  float: left;
  width: 60%;
  padding: 0px;
  margin: 0px;
}
#header {
  font-size: 60px;
  text-align: center;
}

.box_right {
  float: right;
  width: 35%;
  padding: 10px;
  margin: 0px;
  border: 1px solid;
}
.box_right_photo {
  float: center;
  padding: 5px;
  margin: 0px;
  border: 1px solid;
}
#box_right {
  font-size: 18px;
}
.box_right_time {
  float: center;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  border: 1px solid;
  text-align: center;
}

a:hover {
  background-color: white;
}

a:link {
  color: #37f79f;
}

a:visited {
  color: #37f79f;
}

.footer {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #37f79f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #37f79f;
}

.glitch {
  color: #37f79f;
  font-size: 60px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(17px, 9999px, 66px, 0);
  }
  5% {
    clip: rect(67px, 9999px, 64px, 0);
  }
  10% {
    clip: rect(99px, 9999px, 71px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 95px, 0);
  }
  25% {
    clip: rect(15px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(40px, 9999px, 9px, 0);
  }
  35% {
    clip: rect(47px, 9999px, 38px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 55px, 0);
  }
  45% {
    clip: rect(61px, 9999px, 89px, 0);
  }
  50% {
    clip: rect(83px, 9999px, 24px, 0);
  }
  55% {
    clip: rect(71px, 9999px, 76px, 0);
  }
  60% {
    clip: rect(2px, 9999px, 4px, 0);
  }
  65% {
    clip: rect(63px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(7px, 9999px, 54px, 0);
  }
  75% {
    clip: rect(4px, 9999px, 22px, 0);
  }
  80% {
    clip: rect(61px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(20px, 9999px, 61px, 0);
  }
  90% {
    clip: rect(38px, 9999px, 96px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 46px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 55px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #37f79f;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(30px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(96px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(32px, 9999px, 95px, 0);
  }
  15% {
    clip: rect(90px, 9999px, 24px, 0);
  }
  20% {
    clip: rect(30px, 9999px, 41px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(72px, 9999px, 92px, 0);
  }
  35% {
    clip: rect(46px, 9999px, 21px, 0);
  }
  40% {
    clip: rect(81px, 9999px, 4px, 0);
  }
  45% {
    clip: rect(83px, 9999px, 8px, 0);
  }
  50% {
    clip: rect(53px, 9999px, 8px, 0);
  }
  55% {
    clip: rect(85px, 9999px, 95px, 0);
  }
  60% {
    clip: rect(100px, 9999px, 20px, 0);
  }
  65% {
    clip: rect(24px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(83px, 9999px, 72px, 0);
  }
  75% {
    clip: rect(73px, 9999px, 16px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 82px, 0);
  }
  85% {
    clip: rect(93px, 9999px, 45px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(18px, 9999px, 79px, 0);
  }
  100% {
    clip: rect(44px, 9999px, 4px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: w#37F79F;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.slot_t {
  float: left;
  width: 100%;
  height: 40%;
  border: 1px solid;
  padding-top: 30px;
  padding-left: 25px;
  background-image: url("../photos/small_t.png");
}

.error {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
